header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    background: var(--text-gray-800);
}

header svg{
    width: 100px;
    fill: var(--text-gray-100);
}

header nav {
    margin-left: auto;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

header nav ul li a{
    color: var(--text-gray-100);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s linear;
    padding: .5rem 0;
}

header nav ul li.action-btn a{
    color: var(--text-gray-100);
    background-color: var(--text-sky-700);
    border-radius: .275rem;
    padding: .5rem 1rem;
}

header nav ul li a:hover{
    color: var(--text-sky-600);
    border-color: var(--text-sky-600);
}

header nav ul li.action-btn a:hover{
    color: var(--text-sky-300);
    border-color: var(--text-sky-400);
}