.modal-wrapper{
    position: relative;
    width: clamp(20rem, 25vw, 62rem);
    border-radius: .5rem;
    background-color: var(--text-gray-100);
    margin: 0 auto;
    padding: 1rem;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-wrapper h2{
    padding: .5rem 1rem;
    color: var(--text-gray-800);
    text-align: center;
}

.modal-wrapper a{
    color: var(--text-gray-100);
    background-color: var(--text-sky-600);
    border-radius: .275rem;
    padding: .5rem 1rem;
    border-bottom: 2px solid transparent;
    transition: all 0.3s linear;
}

.modal-wrapper a:hover{
    color: var(--text-sky-300);
    border-color: var(--text-sky-400);
}